h1
{
background:#FFFF00; 
color:#FF0000; 
font-size:50px;
font-family:Gigi;
height:65px;
width:800px;
border:2px solid blue;
border-radius:50px 0px 50px 0px;
text-shadow:30px 50px 5px gray;
}
p
{
background:#FF0033;
color:#0000FF;
font-size:20px;
font-family:helvetica;
border:2px solid green;
height:400px;
width:400px;
overflow:scroll;

}
